* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* general projct styles */
    color: #3a3a3a;
}

/*header*/
header {
    background-color: lightcoral;
}

/*main*/
main {
    background-color: lightblue;
    /* make main element take up any surplus space footer */
    flex: 1 0 auto;
}

/*footer*/
footer {
    background-color: orange;
}